<div class="kt-portlet">
	<div class="kt-portlet__head">
	     <div class="kt-portlet__head-label">
		    <h3 class="kt-portlet__head-title"><span>Search History</span></h3>
		 </div>
	</div>
	
	<div class="kt-portlet__body">
			  <mat-form-field class="mat-form-field-infix">
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
			  </mat-form-field>
	  		  
	  	 <div class="mat-table__wrapper"> 
   <mat-table #table [dataSource]="dataSource"> 
    <ng-container matColumnDef="name" >
      <mat-header-cell *matHeaderCellDef title> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" title> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="kind">
      <mat-header-cell *matHeaderCellDef> 	Kind </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.kind}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="badge badge-secondary">{{element.created}}</span>  </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
    <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>
</div>