<div class="webHeader">
	<div class="webContainer">
		<a href="javascript:void(0)" routerLink="/home-list" class="webLogo"><img src="assets/img/logo.png" alt=""></a>
		<div class="ritNavbar">
			<ul>
				<li><a href="javascript:void(0)" routerLink="/home-list">Home</a></li>
				<li><a href="javascript:void(0)" routerLink="/about">About Noctuq</a></li>
				<li><a href="javascript:void(0)" routerLink="/terms-privacy">Terms</a></li>
				<li><a href="javascript:void(0)" routerLink="/report-problem">Report</a></li>
				<li>
					<ion-searchbar (search)="search()" [(ngModel)]="search_term" (ionClear)="clear_search()" placeholder="Search..." showCancelButton="never"></ion-searchbar>
				</li>
				<li><a routerLink="/profile" href="javascript:void(0)"><img src="assets/img/user-about.png" alt=""> Shelton B. <ion-icon name="arrow-dropdown"></ion-icon></a>
					<ul>
						<li><a href="javascript:void(0)" *ngIf="page_type != 'favorites'" slot="end" routerLink="/home-list/favorites"><ion-icon name="star"></ion-icon> Favorites</a></li>
						<li><a href="javascript:void(0)" routerLink="/settings"><ion-icon name="settings"></ion-icon> Settings</a></li>
						<li><a href="javascript:void(0)" routerLink="/login"><ion-icon name="log-out"></ion-icon> Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<ion-header>
  <ion-toolbar  color="ltblack" text-center>
  <ion-buttons slot="start">
    <!-- <ion-icon name="ios-settings"></ion-icon> -->
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="start" btn-sts>
	<a href="javascript:void(0)" class="map-ics"> Map View </a>
	<a href="javascript:void(0)" class="list-ics" routerLink="/home-list"> List View </a>
  </ion-buttons>
    <ion-title pls>{{page_type == 'favorites' ? 'Favorites' : 'Home'}}</ion-title> 
	
	<ion-buttons *ngIf="page_type == 'favorites'" slot="end" routerLink="/home-map">
       <ion-icon name="home" star-head></ion-icon>
	</ion-buttons>
	<ion-buttons *ngIf="page_type != 'favorites'" slot="end" routerLink="/home-map/favorites">
       <ion-icon name="star" star-head></ion-icon>
	</ion-buttons>

	<ion-buttons slot="end" routerLink="/profile">
       <ion-icon name="ios-contact"></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content> 
	<div class="webContainer">
		<div map-home>
			<div #map style="height:100%;"></div>
		</div>
	</div>

<!-- webFooter -->
<footer webFooter>© Copyright 2020. All rights reserved.</footer>
<!-- // end -->
</ion-content>
  