<ion-header>
  <ion-toolbar  color="primary" text-center>
	<ion-buttons slot="start">
      <ion-back-button defaultHref="home-list"></ion-back-button>
    </ion-buttons>
  
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content comments-bg>
	<div class="commts">
		<div class="comnt-single">
			<div class="comnt-head">
				<img src="assets/img/user-icon.jpg">
				<span> Comments 120 </span>
			</div>
			<div class="comt-body">
				Lorem ipsum dolor sit amet, consecte adipis elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
			</div>
		</div>
		<div class="other-cmnt">
			<div class="comnt-single commnt-right">
				<div class="comnt-head" routerLink="/public-profile">
					<img src="assets/img/user-icon.jpg">
				</div>
				<div class="comt-body">
					Lorem ipsum dolor sit amet, consecte adipis elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
				</div>
			</div>
			<div class="comnt-single">
				<div class="comnt-head" routerLink="/public-profile">
					<img src="assets/img/user-icon.jpg">
				</div>
				<div class="comt-body">
					Lorem ipsum dolor sit amet, consecte adipis elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
				</div>
			</div>
			<div class="comnt-single commnt-right">
				<div class="comnt-head" routerLink="/public-profile">
					<img src="assets/img/user-icon.jpg">
				</div>
				<div class="comt-body">
					Lorem ipsum dolor sit amet, consecte adipis elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
				</div>
			</div>
			<div class="comnt-single">
				<div class="comnt-head" routerLink="/public-profile">
					<img src="assets/img/user-icon.jpg">
				</div>
				<div class="comt-body">
					Lorem ipsum dolor sit amet, consecte adipis elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
				</div>
			</div>
			<div class="comnt-single commnt-right">
				<div class="comnt-head" routerLink="/public-profile">
					<img src="assets/img/user-icon.jpg">
				</div>
				<div class="comt-body">
					Lorem ipsum dolor sit amet, consecte adipis elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
				</div>
			</div>
			<div class="comnt-single">
				<div class="comnt-head" routerLink="/public-profile">
					<img src="assets/img/user-icon.jpg">
				</div>
				<div class="comt-body">
					Lorem ipsum dolor sit amet, consecte adipis elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
				</div>
			</div>
		</div>
		
	</div>
</ion-content>
<ion-footer>
  <ion-toolbar class="foot-mgs"> 
    <ion-item color="none" lines="none">
	<span class="add-pl">
		<ion-icon name="add" add-deis></ion-icon>
	</span>
	 <ion-input placeholder="Type Message here..." ></ion-input>
	 <a href="javascript:void(0)" class="filtr-ics"> <ion-icon name="paper-plane"></ion-icon> </a>
	</ion-item>
  </ion-toolbar>
</ion-footer>