<ion-header>
  <ion-toolbar  color="ltblack" text-center>
	<ion-buttons slot="start">
      <ion-back-button defaultHref="home-list"></ion-back-button>
    </ion-buttons>
  
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content comments-bg>
	<div class="commts">
		 	<div class="comnt-single">
			<div class="comnt-head">
				<img src="assets/img/selfie.jpg">
				<div class="comt-body">
					<span>Baisali Bora <b><ion-icon name="time"></ion-icon> 2 days ago</b></span>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
				</div>
			</div>
			<div class="comnt-single commnt-right">
				<div class="comnt-head" routerLink="/public-profile">
					<img src="assets/img/selfie7.jpg">
					<div class="comt-body">
						<span>Shelton Bishop <b><ion-icon name="time"></ion-icon> 2 days ago</b></span>
						<p>Hi, <br> Event is suprb!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="comnt-single">
			<div class="comnt-head">
				<img src="assets/img/selfie2.jpg">
				<div class="comt-body">
					<span>David kulkar<b><ion-icon name="time"></ion-icon> 2 days ago</b></span>
					<p>Natus error sit voluptatem.</p>
				</div>
			</div>
		</div>
		<div class="comnt-single">
			<div class="comnt-head">
				<img src="assets/img/selfie4.jpg">
				<div class="comt-body">
					<span>Somiya Arora <b><ion-icon name="time"></ion-icon> 2 days ago</b></span>
					<p>Perspiciatis unde omnis iste natus error sit voluptatem.</p>
				</div>
			</div>
			<div class="comnt-single commnt-right">
				<div class="comnt-head" routerLink="/public-profile">
					<img src="assets/img/selfie5.jpg">
					<div class="comt-body">
						<span>Shelton Bishop <b><ion-icon name="time"></ion-icon> 2 days ago</b></span>
						<p>Great event</p>
					</div>
				</div>
			</div>
		</div>
		<div class="comnt-single">
			<div class="comnt-head">
				<img src="assets/img/selfie8.jpg">
				<div class="comt-body">
					<span>Lora Roy <b><ion-icon name="time"></ion-icon> 2 days ago</b></span>
					<p>Voluptatem omnis iste natus</p>
				</div>
			</div>
		</div>
	</div>
</ion-content>
<ion-footer>
  <ion-toolbar class="foot-mgs"> 
    <ion-item color="none" lines="none">
	<span class="add-pl">
		<ion-icon name="add" add-deis></ion-icon>
	</span>
	 <ion-input placeholder="Type Message here..." ></ion-input>
	 <a href="javascript:void(0)" class="filtr-ics"> <ion-icon name="paper-plane"></ion-icon> </a>
	</ion-item>
  </ion-toolbar>
</ion-footer>