<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608339143855-r79u3r6gcsgsnsai8dth7rag1vgqes42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608339143855-r79u3r6gcsgsnsai8dth7rag1vgqes42</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>608339143855-cfmpbo8fm2m41jqqutj7lj7vmki6hchd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA8YmPy9mNatHnZ2v_AHaekYgb0xqzoUhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>608339143855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.giteowl.a841946</string>
	<key>PROJECT_ID</key>
	<string>ite-owl</string>
	<key>STORAGE_BUCKET</key>
	<string>ite-owl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608339143855:ios:c3df903fad24c1f651b85a</string>
	<key>DATABASE_URL</key>
	<string>https://ite-owl.firebaseio.com</string>
</dict>
</plist>