
<ion-header>
	<ion-toolbar  color="ltblack" text-center>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home-list"></ion-back-button>
			<!-- <ion-menu-button></ion-menu-button> -->
		</ion-buttons>

		<ion-title>Venue</ion-title>
		<ion-buttons slot="end" routerLink="/settings">
			<ion-icon name="ios-settings"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content event-dtsl *ngIf="is_loaded">
<div header_height></div>
	<div class="webContainer">
		<div class="webListDetail">
		<ion-card dls-a>
			<div mainImg>
				<span right-icns>
					<ion-icon name="videocam" routerLink="/make-live-feed/{{event?._id}}"></ion-icon>
					<ion-icon name="chatboxes" routerLink="/venue-comments/{{event?._id}}"></ion-icon>
					<ion-icon name="paper-plane" (click)="share()"></ion-icon>
					<ion-icon name="pin" routerLink="/map/{{event?._id}}"></ion-icon>

				</span>
				<img *ngIf="errors.indexOf(event?.image) >= 0" src="assets/img/no-image-available.png" class="img-main" /> 
				<img *ngIf="errors.indexOf(event?.image) == -1" src="{{IMAGES_URL+'/events/thumbnails/'+event?.image}}" class="img-main"/> 
				<span class="price-top"> ${{event?.price}} </span>
				<div mainHdng>

					<div botm-star>
						<ngx-stars (click)="canRate()" [size]='1' [readonly]="true" [initialStars]="avg_rating?.length > 0 ? avg_rating[0]['average'] : 0" [maxStars]="5" [color]="'#f90'"></ngx-stars>
					</div> 
					<h1>{{event?.venue_type}}:</h1>
					<h3 str-rigt>{{event?.title}} 	<ion-icon (click)="favorite()" name="{{is_favorite == '0' ? 'heart-empty' : 'heart'}}"></ion-icon></h3>
				</div>
	<!--ion-card-header>
	  <ion-card-title>{{event?.venue_type}}: </ion-card-title>
	  <ion-card-subtitle str-rigt>{{event?.title}} 
	  	<ion-icon (click)="favorite()" name="{{is_favorite == '0' ? 'star-outline' : 'star'}}"></ion-icon>
	  </ion-card-subtitle>
			<ion-row botm-star>
				<ion-col size="6">
					<span class="rate-tl"> Rate </span>
					<ul class="icon-fir">
						<li> <ion-icon name="flame"></ion-icon> </li>
						<li> <ion-icon name="flame"></ion-icon> </li>
						<li> <ion-icon name="flame"></ion-icon> </li>
						<li> <ion-icon name="flame"></ion-icon> </li>
						<li> <ion-icon name="flame"></ion-icon> </li>
					</ul>
				</ion-col>
				<ion-col size="6" right-icns>
					<ion-icon name="videocam" routerLink="/make-live-feed"></ion-icon>
					<ion-icon name="chatboxes" routerLink="/vanue-comments"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-card-header-->
	</div>
	<ion-card-content [innerHTML]="event?.venue_description">
	</ion-card-content>
	<div class="list-st-cnt">
		<a class="linc-x"  routerLink="/feed-gallery/{{event?._id}}">
			<ion-icon src="assets/img/live.svg"></ion-icon>
		</a>
	</div>	
</ion-card>
</div>
</div>

<!-- webFooter -->
<app-footer></app-footer>
<!-- // end -->
</ion-content>

<!--ion-footer *ngIf="is_loaded">
  <ion-row btm-links>
	<ion-col size="12" align-self-center>
		<ul class="list-st-cnt">
			<li (click)="share()"> <ion-icon name="paper-plane"></ion-icon> </li>
			<li (click)="openMap()"> <ion-icon name="pin"></ion-icon> </li>
			<li routerLink="/feed-gallery"> 
				<span class="linc-x">
					<img src="assets/img/live.jpg">
					Live 
				</span>
			</li>
			
		</ul>
	</ion-col>
</ion-row>
</ion-footer-->