mat-form-field {
    width: 100%;
}
.form-group
{    margin: 0;    width: 100%;
label
{
    color: #757576;    width: 100%;
}
display: table;
.e-droptext
{ 
.fa
{
color:#f7a61f;  margin-bottom: 15px;
}
    border: dashed 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.38);
    display: table-cell;
    font-size: 14px;
    height: 65px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    min-width: 300px;
}.e-droptext1
{ 
.fa
{
color:#f7a61f;  margin-bottom: 15px;
}
    border: dashed 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.38);
    display: block;
    font-size: 14px;
    height: 165px;
    margin: 0 auto;
	padding:40px;
    text-align: center;
    width: 100%;
    vertical-align: middle;
   
}


}