mat-form-field {
    width: 100%;
}
[form-field]
{
margin-top:10px;
margin-bottom:10px;
label
  {
      color: rgba(0, 0, 0, 0.54);
	  font-family: Roboto, "Helvetica Neue", sans-serif;
  } 

}