
<ion-header>
  <ion-toolbar  color="ltblack" text-center>
	<ion-buttons slot="start">
      <ion-back-button defaultHref="home-list"></ion-back-button>
    </ion-buttons>
	<ion-title *ngIf="is_loaded">{{profile?.name.split(' ')[0]}}'s Profile</ion-title>
  </ion-toolbar> 
</ion-header>
<ion-content comments-bg *ngIf="is_loaded">
<div header_height></div>
  <div class="webContainer">
	<div class="profile-sets">
		<div class="prfl-top">
			<div class="img-edt">
				<img *ngIf="errors.indexOf(profile?.image) >= 0" src="assets/img/user-icon.jpg"/> 
				<img *ngIf="errors.indexOf(profile?.image) == -1" src="{{profile?.is_social_image == '1' ? profile?.image : IMAGES_URL+'/profile/'+profile?.image}}"/> 
				<!--span class="plus-ad"><ion-icon name="add"></ion-icon> </span-->
				<span class="active-dot"></span>
			</div>
			<h5> <span class="text-poa"> {{profile?.name}}  <!--ion-icon name="chatboxes" routerLink="/chat"></ion-icon--> </span> </h5>
		</div>	
		<div btnsRow  *ngIf="profile?.coming_request > 0 && userId != toId">
			<ion-button (click)="chat()" shape="round">
				<ion-icon name="chatboxes"></ion-icon> Chat
			</ion-button>
		</div>
		<div btnsRow *ngIf="userId != toId">
			<ion-button *ngIf="profile?.coming_request == 0" (click)="chat()" shape="round">
				<ion-icon name="chatboxes"></ion-icon> Chat
			</ion-button>
			<ion-button shape="round" (click)="addFriend()" *ngIf="(profile?.sent_request == 0 && profile?.coming_request == 0) && profile?.is_friend == 0">
				<ion-icon name="person-add"></ion-icon> Add Contact
			</ion-button>
			<ng-container *ngIf="(profile?.sent_request > 0 || profile?.coming_request > 0) && profile?.is_friend == 0">
				<ion-button shape="round" *ngIf="profile?.sent_request > 0">
					<ion-icon name="checkmark"></ion-icon> Request sent
				</ion-button>

				<ion-button (click)="change_status(1)" shape="round" *ngIf="profile?.coming_request > 0">
					<ion-icon name="checkmark"></ion-icon> Accept request
				</ion-button>

				<ion-button (click)="change_status(2)" shape="round" *ngIf="profile?.coming_request > 0">
					<ion-icon name="close"></ion-icon> Reject request
				</ion-button>
			</ng-container>
			<ion-button shape="round" *ngIf="profile?.is_friend > 0">
				<ion-icon name="done-all"></ion-icon> Friends
			</ion-button>
		</div>
		<div class="profl-btm">
			<p>  {{profile?.about}} </p>
			<div class="totl-frns">
				<ion-icon name="contacts"></ion-icon>  <span> {{profile?.friends}} {{profile?.friends == '1' ? 'Friend' : 'Friends'}} </span>
			</div>
		</div>
	</div>
	<!--div btn-bottom class="ion-padding ion-text-center">
	   <ion-button routerLink="/login" color="ltblack" shape="round">
	    Add Friend
	   </ion-button> 
	</div-->
</div>

<!-- webFooter -->
<app-footer></app-footer>
<!-- // end -->
</ion-content>
