<div class="kt-portlet">
	<div class="kt-portlet__head">
	     <div class="kt-portlet__head-label">
		    <h3 class="kt-portlet__head-title"><span>All Venues</span></h3>
		 </div>
		 <div class="kt-portlet__head-toolbar">
		  <button routerLink="/panel/venues/addvenue" mat-raised-button color="yellow">Add Venue</button>
		 </div>
	</div>
	
	<div class="kt-portlet__body">
	  <mat-form-field class="mat-form-field-infix">
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
	  </mat-form-field>
	  	 <div class="mat-table__wrapper"> 
   <mat-table #table [dataSource]="dataSource">  
       
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
	  <mat-cell *matCellDef="let element"> 
	  <img *ngIf="element?.images?.length == 0 "   src="assets/img/events.png" class="table-user rounded-circle img-thumbnail" width="60px" height="60px" >           
	  <img *ngIf="element?.images?.length > 0 "  class="table-user rounded-circle img-thumbnail" width="60px" height="60px"  src="{{IMAGES_URL+'/venues/thumbnails/'+element?.images[0].file_name}}"/> 
	  </mat-cell>
    </ng-container>
     <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef title> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" title> {{element.name}} </mat-cell>
    </ng-container>
	 <ng-container matColumnDef="venue_type">
      <mat-header-cell *matHeaderCellDef > Address</mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.address}}</mat-cell>
    </ng-container>
    <!-- Date Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
	<mat-cell *matCellDef="let element"> ${{element.price}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
	<mat-cell *matCellDef="let element">
	<button  *ngIf="(element?.comments) == 0 "  class="btn btn-success max-width-90" matTooltip="Comments List">
	 {{element.comments}}</button>
		<button *ngIf="(element?.comments)  > 0 "  routerLink="/panel/events/comments/{{element?._id}}"  class="btn btn-success max-width-90" matTooltip="Comments List">{{element.comments}}
		</button>
	</mat-cell>
    </ng-container>

	<ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
      <mat-cell *matCellDef="let element"> <span class="badge badge-secondary max-width-90">{{element.created_at | date : 'MMM d, y'}} </span> </mat-cell>
    </ng-container>

	 <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef action> Action </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index " action>

        <button color="pink" mat-icon-button  *ngIf="element.status=='1'"
        (click)="del_open(approve,element._id,i + (paginator.pageIndex * paginator.pageSize),0)" matTooltip="Dis-approve Venue"><mat-icon>done</mat-icon></button>

        <button color="danger" mat-icon-button (click)="del_open(approve,element._id,i + (paginator.pageIndex * paginator.pageSize),1)" matTooltip="Approve Venue" *ngIf="element.status=='0'"><mat-icon>highlight_off</mat-icon></button>

      	 <button *ngIf="(element?.feed)  > 0 "   routerLink="/panel/events/vieweventfeeds/{{element?._id}}"  mat-icon-button color="pink" matTooltip="View Feeds">
	    <mat-icon>remove_red_eye</mat-icon>
	</button>&nbsp;

      	<button *ngIf="(element?.comments)  > 0 "  routerLink="/panel/events/comments/{{element?._id}}"  mat-icon-button color="yellow" matTooltip="Comments List">
	    <mat-icon> comment</mat-icon>
	</button>&nbsp;
	 	 <button  routerLink="/panel/venues/editvenue/{{element?._id}}"  mat-icon-button color="pink" matTooltip="Edit">
	    <mat-icon>create</mat-icon>
	</button>&nbsp;
	<button mat-icon-button color="danger" matTooltip="Delete Venue" type="button" (click)="del_open(delete_post,element._id,i + (paginator.pageIndex * paginator.pageSize))">
	<mat-icon>delete</mat-icon>
	</button>
	  </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
    <mat-paginator #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
  </mat-paginator>
</div>
</div>

<div class="kt-section">
  <div class="kt-section__content">
    <ng-template #delete_post let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Delete Venue</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this venue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
        <button (click)="confirm_delete()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" type="button" class="btn btn-primary">Yes</button>
      </div>
    </ng-template>
  </div>
</div>

<div class="kt-section">
  <div class="kt-section__content">
    <ng-template #approve let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">{{update_venue_title}} Venue</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to {{update_venue_title}} this venue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
        <button (click)="confirm_approve_disapprove()" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" type="button" class="btn btn-primary">Yes</button>
      </div>
    </ng-template>
  </div>
</div>