
<ion-header>
  <ion-toolbar  color="ltblack" text-center>
	<ion-buttons slot="start">
      <ion-back-button defaultHref="clubs/{{id}}"></ion-back-button>
    </ion-buttons>
    <ion-title>Map</ion-title>
	<ion-buttons slot="end" routerLink="/settings">
		<ion-icon name="ios-settings"></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div header_height></div>

<agm-map 
[latitude]="30.7333" 
[longitude]="76.7794" 
[zoom]="zoom">
  <agm-marker 
  [latitude]="30.7333" 
  [longitude]="76.7794">
</agm-marker>

<agm-marker [latitude]="user_lat" [longitude]="user_lng"  [iconUrl]="user_location">
  <agm-info-window #infoWindow>You are here</agm-info-window>
</agm-marker>

</agm-map>

<!-- webFooter -->
<app-footer></app-footer>
<!-- // end -->
</ion-content>

