ion-header{
	ion-title{
		padding: 0 40px 0 0;
	}
}

ion-content[comments-bg] {

[transctin-list] {
    padding: 25px 15px 10px; 
	ion-list   {
		border: 1px solid #e6e6e6;
		box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.04);
		padding: 0px;
		
		ion-item {
			padding: 5px 0;
			border-bottom: 1px solid #ececec;
			border-left: 3px solid rgba(17, 17, 17, 0.12);
			ion-avatar   {
				width: 46px;
				height: 46px;
			}
			ion-label {
				position: relative;
				h2  {
						font-size: 15px;
						font-weight: 500;
						margin-bottom: 5px;
						letter-spacing: 0.5px;
					}
				p {
					font-size: 14px;
					color: #989898;
					b {
						font-weight: 600;
						letter-spacing: 0.5px;
					}
				}
				span.price-right {
					right: 0;
					position: absolute;
					top: 0;
					bottom: 0;
					display: flex;
					align-items: center;
					font-size: 18px;
					font-weight: 600;
					color: #0a176e;
				}
			}
		}
		.active {
			--background: #f9f9f9;
			background-color: #f9f9f9;
			border-left: 3px solid #222;
		}
	}
}
span.right-time {
    float: right;
    font-size: 11px;
    color: #b3b3b3;
    font-weight: 600;
	ion-icon {
		vertical-align: top;
	}
}


@media only screen and (max-width:767px) {
[hide-mooble-screen] {
	display:none;
}
}
}

span.activ-cht {
    width: 11px;
    height: 11px;
    background: #4CAF50;
    position: absolute;
    border-radius: 50%;
    bottom: 11px;
    left: 50px;
    border: 2px solid #fff;
}
.badge-count{
	float: right;
    background: #222;
    color: #fff;
    border-radius: 50%;
    padding: 0px 6px;
    font-weight: 600;
}
span.first{
	width: 87%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.comnt-single.commnt-right {
	display: flex !important;
    justify-content: flex-end !important;
    .comnt-head{
		max-width: 80%;
    	display: flex;
	    flex-direction: row-reverse !important;
	    justify-content: flex-end !important;
    }
}

[comments-bg] {
	 /*--background:var(--ion-color-primary)  url('../../assets/img/shadow.png')no-repeat bottom center/cover;*/
	.commts {
		padding: 20px 20px 10px;
		.comnt-single {
			display: block;
			color: #111;
			padding-right:30px;
			margin: 0 0 20px;
			.comnt-head {
				display: flex;
				margin-bottom: 7px;
				align-items: flex-start;
				flex-direction: row;
				padding-left:0px;
				/*background: rgba(31, 24, 120, 0.05);*/
			    /*padding: 10px;*/
			    /*border-radius: 3px;*/
			    /*box-shadow: 1px 1px 0px rgba(0,0,0, .1);*/
				[pro-img]	{
					width:45px;
					height:45px;
					vertical-align: middle;
					margin-right: 10px;
					object-fit: cover;
					border-radius: 100px;
				}
				[attach-img]{
					width:200px;
					height:200px;
					object-fit: cover;
				}
				span {
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0.5px;
					margin:2px 0 0;
					b{
						float: left;
						font-weight: 400;
						font-size: 11px;
						color: #777;
						ion-icon{
							float: left;
							margin:3px 3px 0 0;
						}
					}
				}
				.comt-body {
					font-size: 12px;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 0.3px;
					text-align: justify;
					display: flex;
					flex-direction: column;
					position: relative;
					p{
						font-weight: 500;
					    font-size: 14px;
					    margin: 0px 0 0;
					    background: #f1f1f1;
					    padding: 10px;
					    border-radius: 4px;
					    text-align: left;
					    position: relative;
					}
				    &:after{
				    	content:"";
				    	clip-path: polygon(0 0, 100% 65%, 100% 0);
				    	width: 15px;
				    	height: 30px;
				    	display: block;
					    background: #f1f1f1;
				    	left: -13px;
				    	top: -0px;
				    	position: absolute;
				    }
				}
			}
		}
		.comnt-single.commnt-right {   
			padding-left: 30px;
			padding-right:0px; 
			.comnt-head{
				justify-content: flex-end;
				text-align: right;
				img {
					margin-right: 0px; 
					margin-left: 10px; 
				}
				span {
					b{
						float: right;
						ion-icon{
							float: left;
							margin:3px 3px 0 0;
						}
					}
				}
				.comt-body {
					text-align: right;
					padding-right: 0px;
					p{
					    background: #e4e3ef;
					    text-align: right;
					}
				    &:after{
				    	content:"";
				    	clip-path: polygon(0 0, 0 65%, 100% 0) ;
				    	width: 15px;
				    	height: 30px;
				    	display: block;
					    background: #e4e3ef;
				    	right: -13px;
				    	left: auto;
				    	top: -0px;
				    	position: absolute;
				    }
				}
			}
		}
	}
}

#chat_div{
	max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}