<ion-header>
  <ion-toolbar  color="primary" text-center>
	<ion-buttons slot="start">
      <ion-back-button defaultHref="home-list"></ion-back-button>
    </ion-buttons>
	<ion-title>Chat</ion-title>
	<ion-buttons slot="end">
      <ion-icon name="settings"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content comments-bg>
	<div class="chat-box-s">
		<div class="wid-cds">
			<div class="chat-r8-sr"> 
				<div class="chts">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
				</div>
				<img src="assets/img/user-icon.jpg" class="user-imgs">
			</div>
			<div class="chat-r8-sr cht-lets"> 
				<div class="chts">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
				</div>
				<img src="assets/img/user-icon.jpg" class="user-imgs">
			</div>
			<div class="chat-r8-sr"> 
				<div class="chts">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
				</div>
				<img src="assets/img/user-icon.jpg" class="user-imgs">
			</div>
			<div class="chat-r8-sr cht-lets"> 
				<div class="chts">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
				</div>
				<img src="assets/img/user-icon.jpg" class="user-imgs">
			</div>
			<div class="chat-r8-sr"> 
				<div class="chts">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
				</div>
				<img src="assets/img/user-icon.jpg" class="user-imgs">
			</div>
			<div class="chat-r8-sr cht-lets"> 
				<div class="chts">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
				</div>
				<img src="assets/img/user-icon.jpg" class="user-imgs">
			</div>
			<div class="chat-r8-sr"> 
				<div class="chts">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
				</div>
				<img src="assets/img/user-icon.jpg" class="user-imgs">
			</div>
			<div class="chat-r8-sr cht-lets"> 
				<div class="chts">
					<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </p>
				</div>
				<img src="assets/img/user-icon.jpg" class="user-imgs">
			</div>
		</div>
	</div>
</ion-content>
<ion-footer>
  <ion-toolbar class="foot-mgs"> 
    <ion-item color="none" lines="none">
	<span class="add-pl">
		<ion-icon name="add" add-deis></ion-icon>
	</span>
	 <ion-input placeholder="Type Message here..." ></ion-input>
	 <a href="javascript:void(0)" class="filtr-ics"> <ion-icon name="paper-plane"></ion-icon> </a>
	</ion-item>
  </ion-toolbar>
</ion-footer>