<!--ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content class="ion-padding">
       <div logo class="ion-text-center">
	      <img height="132px" src="assets/img/logo.png"/>
	   </div>
	   <div login-form>
	       <ion-item lines="none" class="ion-no-padding">
                <ion-input [(ngModel)]="email" placeholder="Email Address"></ion-input>
				   <ion-label icon-left>
					   <img height="22px" src="assets/img/lock.png"/>
				   </ion-label>
            </ion-item>
            <span error *ngIf="errors.indexOf(email) >= 0 && is_submit == true">Please enter your email address</span>
			<span error *ngIf="errors.indexOf(email) == -1 && is_submit == true && !reg_exp.test(email.toLowerCase())">Please enter valid email address</span>
			 <ion-item lines="none" class="ion-no-padding">
                  <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
				   <ion-label icon-left>
					   <img height="22px" src="assets/img/lock.png"/>
				   </ion-label>
            </ion-item>
            <span error *ngIf="errors.indexOf(password) >= 0 && is_submit == true">Please enter your password</span>
			 <div remember-me class="ion-text-center">                
                      <ion-checkbox [(ngModel)]="remember_me" slot="end"></ion-checkbox>
                	  <ion-label>Remember Me</ion-label>
            </div>
			<div btn-bottom class="ion-text-center">
				 <ion-button (click)="login()" color="secondary" shape="round">
					Login
				 </ion-button> 
	        </div>
				    <div social-icons class="ion-text-center">
					   <ion-button (click)="facebookLogin()" color="ltblue" >
						   <ion-icon name="logo-facebook"></ion-icon>
					   </ion-button>
					   <ion-button (click)="googleLogin()" color="ltblue" >
						   <ion-icon name="logo-google"></ion-icon>
					   </ion-button>
						<!-- <ion-button color="ltblue">
						   <ion-icon name="logo-instagram"></ion-icon>
					   </ion-button>
						<ion-button color="ltblue">
						   <ion-icon name="logo-twitter"></ion-icon>
					   </ion-button> -->
					</div>
					<div bottom-links class="ion-text-center">
					   <p><a routerLink="/forgotpassword" href="javascript:void(0)"> Forgot Password? </a></p>
					   <p><a routerLink="/login-host" href="javascript:void(0)"> Host </a></p>
					   <p><a routerLink="/signup" href="javascript:void(0)"> New User </a></p>
					</div>
	   </div>
</ion-content>
