<ion-header filterHead>
  <ion-toolbar color="ltblack">
    <ion-title   text-left>
	       Change password
	</ion-title>
	<ion-button closebtn (click)="closeModal()" slot="end" outline shape="round" fill="outline" size="small" color="white">
	  <ion-icon name="close"></ion-icon>
	</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-item class="ion-no-padding">
		<ion-label><ion-icon  name="ios-lock"></ion-icon></ion-label>
	  	<ion-input type="password" [(ngModel)]="old_password" placeholder="Old password"></ion-input>
	</ion-item>
	<span error *ngIf="errors.indexOf(old_password) >= 0 && is_submit == true">Please enter your old password</span>

		<ion-item class="ion-no-padding">
		<ion-label><ion-icon  name="ios-lock"></ion-icon></ion-label>
	  	<ion-input type="password" [(ngModel)]="new_password" placeholder="New password"></ion-input>
	</ion-item>
	<span error *ngIf="errors.indexOf(new_password) >= 0 && is_submit == true">Please enter new password</span>
	<span error *ngIf="errors.indexOf(new_password) == -1 && is_submit == true && new_password.length < 6">Please enter atleast 6 characters</span>

		<ion-item class="ion-no-padding">
		<ion-label><ion-icon  name="ios-lock"></ion-icon></ion-label>
	  	<ion-input type="password" [(ngModel)]="confirm_password" placeholder="Confirm new password"></ion-input>
	</ion-item>
	<span error *ngIf="errors.indexOf(confirm_password) >= 0 && is_submit == true">Please confirm new password</span>
	<span error *ngIf="errors.indexOf(confirm_password) == -1 && is_submit == true && new_password != confirm_password">Please enter same new password</span>

	<div btn-bottom class="ion-text-center">
	   <ion-button (click)="change_pass()" color="ltblack" shape="round">
		  Submit
	   </ion-button> 
    </div>

</ion-content>
