ion-header
{
ion-button
{
&[closebtn] 
{
    --padding-start: 3px;
    --padding-end: 3px
}
}
}
ion-content
{  
    top: 0px;
	[error] {
    font-size: 12px;
    margin-top: -10px;
    display: block;
}
ion-item
{    margin-bottom: 15px;
 ion-label
 {
   ion-icon
   {
   color: var(--ion-color-ltblack);
    font-size: 22px;
   }
 }
}
}