<ion-header>
  <ion-toolbar  color="primary" text-center>
	<ion-buttons slot="start">
      <ion-back-button defaultHref="home-list"></ion-back-button>
    </ion-buttons>
	<ion-buttons slot="start" class="mle-7">
      <ion-icon name="reverse-camera"></ion-icon>
    </ion-buttons>
    <ion-title>Live Feed</ion-title>
	<ion-buttons slot="end">
		<ion-icon name="ios-settings"></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content live-feed>
	<div class="img-feed">
		<img src="assets/img/selfie.jpg">
		<h4 class="img-tag"> Lorem Ipsum </h4>
		<span class="close-chat"> <ion-icon name="close"></ion-icon> </span>
	</div>
</ion-content>
 