<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<img class="img-icon" src="assets/img/forgot.png"/>
		<div class="kt-login__title">
			<h3>Reset Password</h3>
			<p>Enter your new password to reset.</p>
		</div>

		<kt-auth-notice></kt-auth-notice>

		<form class="kt-form" [formGroup]="forgotPasswordForm" autocomplete="off">
			<div class="form-group">
			<mat-form-field class="mat-form-field-fluid">
			<input matInput  [(ngModel)]="password" name="password"  type="password" placeholder="New Password" formControlName="password"/>
			</mat-form-field>
			<mat-error *ngIf="isControlHasError('password','required')">
			<strong>Please enter new password</strong>
			</mat-error>
			</div>


	<div class="form-group">
	<mat-form-field class="mat-form-field-fluid">
	<input type="password" matInput [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Confirm Password" formControlName="confirmpassword"/>

	</mat-form-field>
	<mat-error *ngIf="isControlHasError('confirmpassword','required')">
	<strong>Please enter confirm password</strong>
	</mat-error>

	<mat-error *ngIf="password != confirmpassword && errors.indexOf(confirmpassword) == -1">
	<strong>Please enter same password again</strong>
	</mat-error>

	</div>
			<!--begin::Action-->
			<div class="kt-login__actions">
				<button routerLink="/auth/login" [disabled]="loading" id="kt_login_signup_cancel" class="btn btn-secondary btn-elevate kt-login__btn-secondary">{{ 'AUTH.GENERAL.BACK_BUTTON' | translate }}</button>
				<button (click)="submit()" id="kt_login_signin_submit" class="btn btn-green btn-elevate kt-login__btn-primary" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>

