<ion-header>
  <ion-toolbar  color="ltblack" text-center>
  <!-- <ion-buttons slot="start"  routerLink="/settings">
    <ion-icon name="ios-settings"></ion-icon>
  </ion-buttons> -->
  <ion-buttons slot="start" float-left>
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <!--ion-buttons slot="start" btn-sts>
	<a href="javascript:void(0)" class="map-ics" routerLink="/home-map"> Map View </a>
	<a href="javascript:void(0)" class="list-ics"> List View </a>
  </ion-buttons-->
    <ion-title pls>{{page_type == 'favorites' ? 'Favorites' : 'Home'}}</ion-title> 
	
	<ion-buttons *ngIf="page_type == 'favorites'" slot="end" routerLink="/home-list">
       <ion-icon name="home" star-head></ion-icon>
	</ion-buttons>
	<ion-buttons *ngIf="page_type != 'favorites'" slot="end" routerLink="/home-list/favorites">
       <ion-icon name="star" star-head></ion-icon>
	</ion-buttons>

	<ion-buttons slot="end" routerLink="/profile">
       <ion-icon name="ios-contact"></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content login-host #content> 
	<div login-url class="ion-no-padding">
	   <div class="set-serch">
		   <ion-item color="none" lines="none">
			  <!-- <ion-icon name="search"></ion-icon> -->
			 <!-- <ion-input (search)="search()" [(ngModel)]="search_term" placeholder="Search..." ></ion-input> -->
			 <ion-searchbar (search)="search()" [(ngModel)]="search_term" (ionClear)="clear_search()" placeholder="Search..." showCancelButton="never"></ion-searchbar>
			 <a (click)="filterPage()" href="javascript:void(0)" class="filtr-ics"> <ion-icon name="funnel"></ion-icon> </a>
			 <!-- <span no_of_filters>2</span> -->
		   </ion-item>
		</div>
	</div>
	<div list-events>
		<ion-buttons btn-sts>
		  <a href="javascript:void(0)" class="map-ics" routerLink="/home-map"> Map View </a>
		  <a href="javascript:void(0)" class="list-ics"> List View </a>
	    </ion-buttons>
	  	<div AppContainer>
			<ion-card img-srta routerLink="/clubs/{{event._id}}" *ngFor="let event of all_events">
				<img *ngIf="errors.indexOf(event?.image) >= 0" src="assets/img/no-image-available.png"/> 
				<img *ngIf="errors.indexOf(event?.image) == -1" src="{{IMAGES_URL+'/events/thumbnails/'+event?.image}}"/> 
				<ion-card-header>
					<ion-card-title>{{event?.venue_type}}: {{event?.title}} </ion-card-title>
					<div description>
					  <p [innerHTML]="event?.venue_description.length > 70 ? event?.venue_description.substr(0,70)+'...' : event?.venue_description"></p>
					</div>
				</ion-card-header>
				
			</ion-card>
			
			<img *ngIf="all_events == '' && is_loaded" src="assets/img/no_result_found.gif"/>
		</div>
		<ion-infinite-scroll *ngIf="is_more_records" threshold="100px" (ionInfinite)="getEvents($event,'1')">
	        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</div>
</ion-content>
<ion-footer>
  <div scrll-icon *ngIf="all_events != ''">
	<ion-icon name="arrow-down"></ion-icon>
  </div>
</ion-footer>