<ion-header>
  <ion-toolbar  color="primary" text-center>
  <ion-buttons slot="start"  routerLink="/settings">
    <ion-icon name="ios-settings"></ion-icon>
  </ion-buttons>
  <ion-buttons slot="start" btn-sts>
	<a href="javascript:void(0)" class="map-ics" routerLink="/home-map"> Map View </a>
	<a href="javascript:void(0)" class="list-ics"> List View </a>
  </ion-buttons>
    <ion-title pls>Home</ion-title> 
	
	<ion-buttons slot="end">
       <ion-icon name="star" star-head></ion-icon>
	</ion-buttons>
	<ion-buttons slot="end" routerLink="/profile">
       <ion-icon name="ios-contact"></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content login-host> 
	<div login-url class="ion-no-padding">
	   <div class="set-serch">
		   <ion-item color="none" lines="none">
			  <ion-icon name="search"></ion-icon>
			 <ion-input placeholder="Search..." ></ion-input>
			 <a href="javascript:void(0)" class="filtr-ics"> Filter </a>
		   </ion-item>
		</div>
	</div>
	<div list-events>
		<ion-card img-srta routerLink="/clubs">
			<img src="assets/img/event1.jpg" />
			<ion-card-header>
				<ion-card-title>UPSCALE HOUSE: Live Bands, Dancing, Food, Drinks </ion-card-title>
			</ion-card-header>
		</ion-card>
		<ion-card img-srta routerLink="/clubs">
			<img src="assets/img/event2.jpg" />
			<ion-card-header>
				<ion-card-title>HOTPHILLY: Local DJ, Dancing, Food, Drinks </ion-card-title>
			</ion-card-header>
		</ion-card>
		<ion-card img-srta routerLink="/clubs">
			<img src="assets/img/event3.jpg" />
			<ion-card-header>
				<ion-card-title>NCSOCIAL: Live Bands, Dancing, Food, Drinks </ion-card-title>
			</ion-card-header>
		</ion-card>
		<ion-card img-srta routerLink="/clubs">
			<img src="assets/img/event1.jpg" />
			<ion-card-header>
				<ion-card-title>UPSCALE HOUSE: Live Bands, Dancing, Food, Drinks </ion-card-title>
			</ion-card-header>
		</ion-card>
		<ion-card img-srta routerLink="/clubs">
			<img src="assets/img/event2.jpg" />
			<ion-card-header>
				<ion-card-title>HOTPHILLY: Local DJ, Dancing, Food, Drinks </ion-card-title>
			</ion-card-header>
		</ion-card>
		<ion-card img-srta routerLink="/clubs">
			<img src="assets/img/event3.jpg" />
			<ion-card-header>
				<ion-card-title>NCSOCIAL: Live Bands, Dancing, Food, Drinks </ion-card-title>
			</ion-card-header>
		</ion-card>
	</div>
</ion-content>
<ion-footer>
  <div scrll-icon>
	<ion-icon name="arrow-down"></ion-icon>
  </div>
</ion-footer>