[pos] 
{
 flex: 0 0 7% ;
  width: 7% ;
}
[check]
{
 flex: 0 0 7% ;
  width: 7% ;
}
[title]
{
 flex: 0 0 22%;
  width: 22% ;
}
button
{
&[ mat-icon-button]
{
  margin-right:3px;
}
}
[search-top] {
    border: 1px solid #f3f3f3;
    padding: 5px 15px 10px;
    background: #fdfdfd;
	   mat-form-field
		{
		width: 100%;
		}
}