<!--ion-header>
  <ion-toolbar>
    <ion-title>forgotpassword</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content class="ion-padding">
   <div logo class="ion-text-center">
      <img height="132px" src="assets/img/logo.png"/>
   </div>
   <div login-form>
		<div class="forgt-txt">
		  <h4> {{step == '1' ? 'Forgot Password' : (step == '2' ? 'Verify OTP' : 'Reset Password')}} </h4>
		  <p> {{step == '1' ? 'Enter your email address and we will send OTP to reset your password.' : (step == '2' ? 'Enter OTP sent on your email address.' : 'Create your new password.')}} </p>
		</div>
        <ng-container *ngIf="step == '1'">
          <ion-item lines="none" class="ion-no-padding">
            <ion-input [(ngModel)]="email" placeholder="Email Address"></ion-input>
           <ion-label icon-left>
             <img height="22px" src="assets/img/lock.png"/>
           </ion-label>
          </ion-item>
          <span error *ngIf="errors.indexOf(email) >= 0 && is_submit == true">Please enter your email address</span>
          <span error *ngIf="errors.indexOf(email) == -1 && is_submit == true && !reg_exp.test(email.toLowerCase())">Please enter valid email address</span>
          <div btn-bottom class="ion-text-center">
            <ion-button (click)="resetPassword()" color="secondary" shape="round">
             Reset Password
            </ion-button> 
          </div>  
        </ng-container>
        <ng-container *ngIf="step == '2'">
          <ion-item lines="none" class="ion-no-padding">
           <ion-input [(ngModel)]="otp" placeholder="Enter OTP"></ion-input>
          </ion-item>
          <span error *ngIf="errors.indexOf(otp) >= 0 && is_submit == true">Please enter OTP</span>  

          <div btn-bottom class="ion-text-center">
            <ion-button (click)="verifyOTP()" color="secondary" shape="round">
             Verify OTP
            </ion-button> 
          </div>  
        </ng-container>

        <ng-container *ngIf="step == '3'">
          <ion-item lines="none" class="ion-no-padding">
           <ion-input [(ngModel)]="password" type="password" placeholder="Enter New Password"></ion-input>
         <ion-label icon-left>
           <img height="22px" src="assets/img/lock.png"/>
         </ion-label>
          </ion-item>
          <span error *ngIf="errors.indexOf(password) >= 0 && is_submit == true">Please enter your password</span>  
          <span error *ngIf="errors.indexOf(password) == -1 && is_submit == true && password.length < 6">Please enter atleast 6 digits password</span>
          <ion-item lines="none" class="ion-no-padding">
               <ion-input [(ngModel)]="confirm_password" type="password" placeholder="Verify New Password"></ion-input>
           <ion-label icon-left>
             <img height="22px" src="assets/img/lock.png"/>
           </ion-label>
            </ion-item>
            <span error *ngIf="errors.indexOf(confirm_password) >= 0 && is_submit == true">Please enter password again</span> 
          <span error *ngIf="errors.indexOf(confirm_password) == -1 && is_submit == true && password != confirm_password">Please enter same password again</span>

  		    <div btn-bottom class="ion-text-center">
    		    <ion-button (click)="setPassword()" color="secondary" shape="round">
    			   Verify OTP
    		    </ion-button> 
          </div>	
        </ng-container> 
   </div>
</ion-content>
