<div class="kt-portlet">
		<div class="kt-portlet__head">
	     <div class="kt-portlet__head-label">
		    <h3 class="kt-portlet__head-title"><span>Change  Password</span></h3>
		 </div>
		
	</div>
		<div class="kt-portlet__body">
		<div class="row">
		        <div class="col-md-6">
				  <mat-form-field>
				  <input type="password" matInput placeholder="Old Password" value="" >
				 </mat-form-field>
				 </div>
				  <div class="col-md-6">
				  <mat-form-field>
				  <input type="password" matInput placeholder="New Password" value="" >
				    <mat-hint>(at least 5 characters)</mat-hint>
				 </mat-form-field>
				 </div>
				  <div class="col-md-6">
				  <mat-form-field>
				  <input type="password" matInput placeholder="Repeat Password" value="" >
				 </mat-form-field>
				 </div>
		<div class="col-md-12 mt-3">
		 <button  mat-raised-button color="pink">Save</button>
		</div>
		</div>
</div> 
