ion-header{
	ion-toolbar{
		ion-buttons{
			padding-left:10px;
			&.buttons-last-slot{
				padding-right:10px;
			}
		}
	}
}
ion-content{
	&[login-host]
	{
		/*--background:var(--ion-color-primary)  url('../../assets/img/shadow.png')no-repeat top center/cover;*/
		[login-url]
		{
			ion-item{
				ion-input{		    
					background: var(--ion-color-white);
					font-size: var(--ion-value-15);
					font-weight: 500;
				}
			}
			[logo]{
				margin-top:var(--ion-value-50);
				h2{  
					margin-top:var(--ion-value-45);
					color:#111;
					font-size:20px;
				}
			}
		}
		/**Button Css Start**/
		[btn-bottom]{    
			/*position: absolute;*/
			bottom: 20px;
			left:  var(--ion-value-0);
			right:   var(--ion-value-0);
			ion-button{
				--box-shadow:none;
				font-size: var(--ion-value-18);
				text-transform: capitalize;
				font-weight: 600;
			  color:#fff;
			  text-decoration:none;
			  border-radius: 50px;
			  height: 50px;
			  font-size: 14px;
			  width:60%;
			}
		}
		/**Button Css Ends**/
	}
	.set-serch {
		padding:5px 20px 15px;
		background: #222;
		ion-item {
			border-radius: 50px;
			min-height: 40px;
			line-height: 27px;
			padding-left: 10px;
			background: rgba(255, 255, 255, 1) !important;
			ion-input {
				background: transparent !important;
				font-size: 12px;
			}
		}
	}
}