mat-form-field {
    width: 100%;
}
.form-group
{
label
{
    color: #757576;
}
display: table;

}
label
  {
      color: rgba(0, 0, 0, 0.54);
	  font-family: Roboto, "Helvetica Neue", sans-serif;
  } 
