mat-form-field
{
    width: 100%;
}
.form-group
{
label
{
    color: #757576;
}
display: table;

}
.example-margin
{
margin-right:10px;
}
[form-field] , ejs-richtexteditor
{
  margin-bottom:20px;
 &[mb-0]
 {
  margin-bottom:0px;
 }
 &[images]
 {
  margin-top:20px;
  input
  {
      border-bottom: 1px solid #e9e9ef;
      width: 100%;
  }
 }
}

label
  {
      color: rgba(0, 0, 0, 0.54);
	  font-family: Roboto, "Helvetica Neue", sans-serif;
  } 

[images-files]
{  margin-bottom:20px;
  img
  {
max-width: 100%;
    border-radius: 6px;
    min-height: 115px;
    object-fit: cover;
  }
  span.fa {
width: 22px;
    height: 22px;
    background: #ffffff;
    color: #940000;
    text-align: center;
    line-height: 25px;
    border-radius: 30px;
    position: absolute;
    right: 5px;
    top: -14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
}
}