
<ion-header>
  <ion-toolbar  color="ltblack" text-center>
	<ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="home-list"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
    <ion-title>Profile</ion-title>
	<ion-buttons slot="end" routerLink="/settings">
		<ion-icon name="ios-settings"></ion-icon>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content comments-bg *ngIf="is_loaded">
  <div class="webContainer">
	<div class="profile-sets">
		<div class="prfl-top">
			<div class="img-edt">
				<ng-container *ngIf="is_image_selected">
					<img *ngIf="is_mobile_app == 'true'" [src]="sanitizer.bypassSecurityTrustResourceUrl(win.Ionic.WebView.convertFileSrc(image_url))" />
					<img *ngIf="is_mobile_app == 'false'" [src]="sanitizer.bypassSecurityTrustResourceUrl(image_url)" />
				</ng-container>
				<ng-container *ngIf="!is_image_selected">
					<img *ngIf="errors.indexOf(profile?.image) >= 0" src="assets/img/user-icon.jpg"/> 
					<img *ngIf="errors.indexOf(profile?.image) == -1" src="{{profile?.is_social_image == '1' ? profile?.image : IMAGES_URL+'/profile/'+profile?.image}}"/> 
				</ng-container>
				<ion-icon *ngIf="is_edit && is_mobile_app == 'true'" name="create" (click)="selectImage()"></ion-icon>
				<ng-container *ngIf="is_edit && is_mobile_app == 'false'">
				<label for="user-img"><ion-icon name="create"></ion-icon></label>
				<input (change)="uploadImg($event)"  type="file" id="user-img" name="user-img" style="display:none"/>
				</ng-container>
			</div>
			<!-- <h5 >  </h5>
			<h5 *ngIf="is_edit"> 
				<ion-input type="text" placeholder="Name" [(ngModel)]="profile.name"></ion-input> 
			</h5> -->
		</div>
		<div class="profl-btm">
			<!-- <p *ngIf="!is_edit">  {{errors.indexOf(profile?.about) == -1 ? profile?.about : 'Say something about you...'}} </p>
			<p *ngIf="is_edit">  
				<ion-textarea [(ngModel)]="profile.about" placeholder="Say something about you..."></ion-textarea> 
			</p> -->
				<div userDetails>
				<ion-item no-padding>
					<ion-label><ion-icon name="contact"></ion-icon> Name</ion-label>
					<p *ngIf="!is_edit">{{profile?.name}}</p>
					<p *ngIf="is_edit" slot="end">
						<ion-input type="text" placeholder="Name" [(ngModel)]="profile.name"></ion-input>
					</p>
				</ion-item>
				<ion-item no-padding>
					<ion-label><ion-icon name="mail-open"></ion-icon> Email</ion-label>
					<p *ngIf="!is_edit">{{profile?.email}}</p>
					<p *ngIf="is_edit" slot="end">
						<ion-input type="email" placeholder="Email Address" [(ngModel)]="profile.email"></ion-input>
					</p>
				</ion-item>
				<ion-item no-padding >
					<ion-label><ion-icon name="call"></ion-icon> Phone</ion-label>
					<p *ngIf="!is_edit">{{errors.indexOf(profile?.phone) == -1 ? profile?.phone : 'not added'}}</p>
					<p *ngIf="is_edit" slot="end">
						<ion-input type="text" placeholder="Phone Number" [(ngModel)]="profile.phone"></ion-input>
					</p>
				</ion-item>
				<ion-item no-padding >
					<ion-label><ion-icon name="happy"></ion-icon> Description</ion-label>
					<p *ngIf="!is_edit">{{errors.indexOf(profile?.about) == -1 ? profile?.about : 'Say something about you...'}}</p>
					<p *ngIf="is_edit"><ion-textarea [(ngModel)]="profile.about" placeholder="Say something about you..."></ion-textarea></p>
				</ion-item>
			</div>
			<div class="totl-frns" (click)="goEdit()" *ngIf="!is_edit">
				<ion-icon  name="create"></ion-icon> <span> Edit Profile </span>
			</div>

			<div class="totl-frns" (click)="update()" *ngIf="is_edit">
				<ion-icon name="checkmark" ></ion-icon>  
				<span> Update Profile </span>
			</div>

			<div class="totl-frns" routerLink="/friends">
				<ion-icon name="contacts"></ion-icon>  <span> {{profile?.friends}} {{profile?.friends == '1' ? 'Friend' : 'Friends'}} </span>
			</div>
		</div>
	<!-- 	<div class="profl-btm">
			<div class="totl-frns" (click)="logout()">
				<ion-icon name="log-out"></ion-icon>  <span> Log out </span>
			</div<div class="webHeader">
  <div class="webContainer">
    <a href="javascript:void(0)" routerLink="/home-list" class="webLogo"><img src="assets/img/logo.png" alt=""></a>
    <div class="ritNavbar">
      <ul>
        <li><a href="javascript:void(0)" routerLink="/home-list">Home</a></li>
        <li><a href="javascript:void(0)" routerLink="/about">About Noctuq</a></li>
        <li><a href="javascript:void(0)" routerLink="/terms-privacy">Terms</a></li>
        <li><a href="javascript:void(0)" routerLink="/report-problem">Report</a></li>
        <li>
          <ion-searchbar (search)="search()" [(ngModel)]="search_term" (ionClear)="clear_search()" placeholder="Search..." showCancelButton="never"></ion-searchbar>
        </li>
        <li><a routerLink="/profile" href="javascript:void(0)"><img src="assets/img/user-about.png" alt=""> Shelton B. <ion-icon name="arrow-dropdown"></ion-icon></a>
          <ul>
            <li><a href="javascript:void(0)" *ngIf="page_type != 'favorites'" slot="end" routerLink="/home-list/favorites"><ion-icon name="star"></ion-icon> Favorites</a></li>
            <li><a href="javascript:void(0)" routerLink="/settings"><ion-icon name="settings"></ion-icon> Settings</a></li>
            <li><a href="javascript:void(0)" routerLink="/login"><ion-icon name="log-out"></ion-icon> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
>
		</div> -->
	</div>
	</div>

<!-- webFooter -->
<app-footer></app-footer>
<!-- // end -->
</ion-content>
