<div class="kt-portlet">
		<div class="kt-portlet__head">
	     <div class="kt-portlet__head-label">
		    <h3 class="kt-portlet__head-title"><span>What To Do</span></h3>
		 </div>
	</div>
		<div class="kt-portlet__body">
		<div class="row">
				   <div class="col-md-6">
					<mat-form-field>
					  <mat-select [formControl]="selected" [(value)]="selected"  placeholder="Location">
						<mat-option>Select Location</mat-option>
						<mat-option value="option1"> The Francesinhas House </mat-option>
						<mat-option value="option2"> HIGH Diving Center </mat-option>
						<mat-option value="option3"> Hotness Academy </mat-option>
						<mat-option value="option4"> Porto de Galinhas Academy </mat-option>
						<mat-option value="option5"> Acai Concept Store </mat-option>
						<mat-option value="option6">  Água Viva Flat and Pousada </mat-option>
					  </mat-select>
					</mat-form-field>
					</div>
		<div class="col-md-6">
		<button class="btn btn-danger">
						   <i class="fa fa-minus"></i>
						</button>
		</div>
		</div>
		<div class="row">
				   <div class="col-md-6">
					<mat-form-field>
					  <mat-select  [formControl]="selected2" [(value)]="selected2"  placeholder="Location">
						<mat-option>Select Location</mat-option>
						<mat-option value="option12"> The Francesinhas House </mat-option>
						<mat-option value="option22"> HIGH Diving Center </mat-option>
						<mat-option value="option32"> Hotness Academy </mat-option>
						<mat-option value="option42"> Porto de Galinhas Academy </mat-option>
						<mat-option value="option52"> Acai Concept Store </mat-option>
						<mat-option value="option62">  Água Viva Flat and Pousada </mat-option>
					  </mat-select>
					</mat-form-field>
					</div>
						<div class="col-md-6">
						<button class="btn btn-danger">
						   <i class="fa fa-minus"></i>
						</button>
						</div>
		</div>
			<div class="row">
				   <div class="col-md-6">
					<mat-form-field>
					  <mat-select [formControl]="selected3" [(value)]="selected3"  placeholder="Location">
						<mat-option>Select Location</mat-option>
						<mat-option value="option13"> The Francesinhas House </mat-option>
						<mat-option value="option23"> HIGH Diving Center </mat-option>
						<mat-option value="option33"> Hotness Academy </mat-option>
						<mat-option value="option43"> Porto de Galinhas Academy </mat-option>
						<mat-option value="option53"> Acai Concept Store </mat-option>
						<mat-option value="option63">  Água Viva Flat and Pousada </mat-option>
					  </mat-select>
					</mat-form-field>
					</div>
						<div class="col-md-6">
						<button class="btn btn-danger">
						   <i class="fa fa-minus"></i>
						</button>
						</div>
		</div>
			<div class="row">
				   <div class="col-md-6">
					<mat-form-field>
					  <mat-select [formControl]="selected4" [(value)]="selected4"  placeholder="Location">
						<mat-option>Select Location</mat-option>
						<mat-option value="option14"> The Francesinhas House </mat-option>
						<mat-option value="option24"> HIGH Diving Center </mat-option>
						<mat-option value="option34"> Hotness Academy </mat-option>
						<mat-option value="option44"> Porto de Galinhas Academy </mat-option>
						<mat-option value="option54"> Acai Concept Store </mat-option>
						<mat-option value="option64">  Água Viva Flat and Pousada </mat-option>
					  </mat-select>
					</mat-form-field>
					</div>
						<div class="col-md-6">
						<button class="btn btn-danger">
						   <i class="fa fa-minus"></i>
						</button>
						</div>
		</div>
		<div class="row">
				   <div class="col-md-6">
					<mat-form-field>
					  <mat-select [formControl]="selected5" [(value)]="selected4"  placeholder="Location">
						<mat-option>Select Location</mat-option>
						<mat-option value="option15"> The Francesinhas House </mat-option>
						<mat-option value="option25"> HIGH Diving Center </mat-option>
						<mat-option value="option35"> Hotness Academy </mat-option>
						<mat-option value="option45"> Porto de Galinhas Academy </mat-option>
						<mat-option value="option55"> Acai Concept Store </mat-option>
						<mat-option value="option65">  Água Viva Flat and Pousada </mat-option>
					  </mat-select>
					</mat-form-field>
					</div>
						<div class="col-md-6">
						<button class="btn btn-danger">
						   <i class="fa fa-minus"></i>
						</button>
						</div>
		</div>
			<div class="row">
		<div class="col-md-12 mt-3">
		 <button  mat-raised-button color="yellow">Add Location</button>
		</div>
		</div>
	
		<div class="row  mt-5" footerbottom>
		<div class="col-md-12">
		 <button  mat-raised-button color="pink">Save</button>
		</div>
	
		
</div> 
</div> 
</div> 
