<ion-header>
  <ion-toolbar  color="ltblack" text-center>
	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
	<ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content comments-bg top-0>
	<div header_height></div>
	<div class="webContainer">
		<div transctin-list>
			<ion-list>
				<ion-item lines="none">
				  <ion-avatar slot="start">
					<img src="assets/img/user.jpg">
				  </ion-avatar>
				  <ion-label>
					<h2>Jenny Thomas <span class="right-time"> <ion-icon name="time"></ion-icon> Just now </span> </h2>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				  </ion-label>
				</ion-item>
				<ion-item lines="none">
				  <ion-avatar slot="start">
					<img src="assets/img/user-about.png">
				  </ion-avatar>
				  <ion-label>
					<h2>Hanry James <span class="right-time"> <ion-icon name="time"></ion-icon> 1 hour ago </span></h2>
					<p>Sed ut perspiciatis unde omnis iste </p>
				  </ion-label>
				</ion-item>
				<ion-item lines="none">
				  <ion-avatar slot="start">
					<img src="assets/img/selfie6.jpg">
				  </ion-avatar>
				  <ion-label>
					<h2>Maria James <span class="right-time"> <ion-icon name="time"></ion-icon> 3 hours ago </span></h2>
					<p>Quis autem vel eum iure reprehenderit </p>
				  </ion-label>
				</ion-item>
				<ion-item lines="none">
				  <ion-avatar slot="start">
					<img src="assets/img/user.jpg">
				  </ion-avatar>
				  <ion-label>
					<h2>Denial Hall <span class="right-time"> <ion-icon name="time"></ion-icon> 1 days ago</span></h2>
					<p>At vero eos et accusamus et iusto </p>
				  </ion-label>
				</ion-item>
				<ion-item lines="none">
				  <ion-avatar slot="start">
					<img src="assets/img/user-about.png">
				  </ion-avatar>
				  <ion-label>
					<h2>Jenny Thomas <span class="right-time"> <ion-icon name="time"></ion-icon> 3 days ago </span></h2>
					<p>Itaque earum rerum hic tenetur a sapiente </p>
				  </ion-label>
				</ion-item>
				<ion-item lines="none">
				  <ion-avatar slot="start">
					<img src="assets/img/selfie6.jpg">
				  </ion-avatar>
				  <ion-label>
					<h2>John Smith <span class="right-time"> <ion-icon name="time"></ion-icon> 1 week ago </span></h2>
					<p>Quis autem vel eum iure reprehenderit </p>
				  </ion-label>
				</ion-item>
				<ion-item lines="none">
				  <ion-avatar slot="start">
					<img src="assets/img/user.jpg">
				  </ion-avatar>
				  <ion-label>
					<h2>Jenny Thomas <span class="right-time"> <ion-icon name="time"></ion-icon> 2 months ago </span></h2>
					<p>Excepteur sint occaecat cupidatat non</p>
				  </ion-label>
				</ion-item>
				<ion-item lines="none">
				  <ion-avatar slot="start">
					<img src="assets/img/user.jpg">
				  </ion-avatar>
				  <ion-label>
					<h2>Jenny Thomas <span class="right-time"> <ion-icon name="time"></ion-icon> 3 months ago  </span></h2>
					<p>Lorem ipsum dolor sit amet, consectetur</p>
				  </ion-label>
				</ion-item>
				<ion-item lines="none">
				  <ion-avatar slot="start">
					<img src="assets/img/user.jpg">
				  </ion-avatar>
				  <ion-label>
					<h2>Hanry James <span class="right-time"> <ion-icon name="time"></ion-icon> 4 months ago  </span></h2>
					<p>Sed ut perspiciatis unde omnis iste </p>
				  </ion-label>
				</ion-item>
			</ion-list>
		</div>
	</div>
	
	<app-footer></app-footer> 
</ion-content>
  