<div class="kt-portlet">
<div class="kt-portlet__head">
<div class="kt-portlet__head-label">
<h3 class="kt-portlet__head-title"><span>Admin Profile</span></h3>
</div>
</div>
<div class="kt-portlet__body">
<div class="row">
<div class="col-lg-12">
<mat-tab-group [(selectedIndex)]="selectedTab">
<mat-tab>
<ng-template mat-tab-label>
<i class="mat-tab-label-icon fa fa-user"></i>
Basic Info
</ng-template>
<ng-template matTabContent>
<div>
<form [formGroup]="addForm" class="kt-form kt-form--group-seperator-dashed">

<div panel>
<div panel-body>

<div class="row">

<div class="col-md-6">
<mat-form-field>
<input matInput    formControlName="name" placeholder="Full Name">
</mat-form-field>
<mat-error *ngIf="isControlHasError('name','required')">
<strong>Please enter admin name</strong>
</mat-error>
</div>

<div class="col-md-6">
<mat-form-field>
<input matInput type="email" formControlName="email"  placeholder="Enter Email Address">
</mat-form-field>
<mat-error *ngIf="isControlHasError('email','required')">
<strong>Please enter email address</strong>
</mat-error>
</div>									
</div>
<div class="row">



<div class="col-md-6">
<mat-form-field>
<input matInput  formControlName="phone"  placeholder="Phone Number">
</mat-form-field>
<mat-error *ngIf="isControlHasError('phone','required')">
<strong>Please enter phone number</strong>
</mat-error>
</div>

</div>

</div>
<div class="col-md-12">
<button  [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" (click)="submit()" mat-raised-button color="pink">Submit</button>
</div>
</div>
</form>
</div>
</ng-template>
</mat-tab>
<mat-tab  >
<ng-template mat-tab-label>
<i class="mat-tab-label-icon fa fa-exchange-alt"></i>
Change Password
</ng-template>
<ng-template matTabContent>
<div class="kt-change-password">
<form [formGroup]="changeForm" class="kt-form kt-form--group-seperator-dashed">
<div class="kt-form__section kt-form__section--first">
<div class="form-group kt-form__group row">

<div class="col-lg-6 kt-margin-bottom-20-mobile">
<mat-form-field class="mat-form-field-fluid">
<input matInput  [(ngModel)]="oldpassword" name="oldpassword"  type="password" placeholder="Old Password" formControlName="oldpassword"/>
</mat-form-field>
<mat-error *ngIf="isControlHasError1('oldpassword','required')">
<strong>Please enter old password</strong>
</mat-error>
</div>



<div class="col-lg-6 kt-margin-bottom-20-mobile">

<mat-form-field class="mat-form-field-fluid">
<input matInput  [(ngModel)]="password" name="password"  type="password" placeholder="New Password" formControlName="password"/>
</mat-form-field>
<mat-error *ngIf="isControlHasError1('password','required')">
<strong>Please enter new password</strong>
</mat-error>
</div>

<div class="col-lg-6 kt-margin-bottom-20-mobile">
<mat-form-field class="mat-form-field-fluid">
<input type="password" matInput [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Confirm Password" formControlName="confirmpassword"/>

</mat-form-field>
<mat-error *ngIf="isControlHasError1('confirmpassword','required')">
<strong>Please enter confirm password</strong>
</mat-error>

<mat-error *ngIf="password != confirmpassword && errors.indexOf(confirmpassword) == -1">
<strong>Please enter same password again</strong>
</mat-error>

</div>
</div>
<div class="col-md-12">
<button  [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" (click)="submit1()" mat-raised-button color="pink">Submit</button>
</div>

</div>
</form>
</div>
</ng-template>
</mat-tab>
</mat-tab-group>
</div>
</div>
</div>
</div>