mat-form-field
{
    width: 100%;
}
[form-field] 
{
&[url]
{
    input
  {   border:none!important;
      width: 100%;
  }
}
 &[images]  
 {
 label
 {
 color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }
 p
 {
 font-size:12px;
 }
 img
 {
 max-width:100%;
 border-radius:6px;
 }
  input
  {   border:none;
      border-bottom: 1px solid #e9e9ef;
      width: 100%;
  }
 }
}